<!DOCTYPE html>
<html>
<head>
  <title>Music</title>
<style>
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
a {
  color: #222;
}
.content {
  margin: 0 auto;
  padding-top: 1em;
  max-width: 800px;
  width: 94%;
}
.content h1 {
  margin-top: 0;
}
.sep {
  padding-right: 1em;
  padding-left: 1em;
}
.small {
  font-size: smaller;
  color: gray;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #eee;
  text-align: right;
  font-size: smaller;
}
</style>
</head>
<body>
<div class="content">
  <h1>Music Box</h1>
  <ol start="0">
{% for item in playlist %}
    <li>
      {% if item.current %}<strong>{% endif %}
      {{item.title}}
      <span class="small">{{item.filename}}</span>
      {% if item.current %}</strong>{% endif %}
    </li>
{% endfor %}
  </ol>
  <form action="play" method="post">
    <p>
    <input type="text" name="value" size="60">
    <input type="submit" name="submit" value="Play">
    </p>
  </form>
  <form action="volume" method="post">
    <p>
    Volume: <strong>{{volume}}</strong> |
    adjust by +/- <input type="number" name="value" size="3" value="0">
    <input type="submit" name="submit" value="Set">
    </p>
  </form>
  <form action="jump" method="post">
    <p>
    Jump to item
    <input type="text" name="value" size="3">
    <input type="submit" name="submit" value="Jump">
    </p>
  </form>
</div>
<div class="footer">
  <a href="https://bitbucket.org/beli-sk/musicbox">Music Box</a>
  <span class="sep">|</span>
  Copyright &copy; <a href="https://beli.sk">Michal Belica</a>
  <span class="sep">|</span>
  <a href="https://www.gnu.org/licenses/agpl-3.0.html">GNU AGPL</a>
</div>
</body>
</html>
